<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clusterEndpoint" value="40.118.130.133:19000"/>
    <!--mkdemo.westus.cloudapp.azure.com-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>